
.indexDiv {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}
.contactMe {
    display: flex;
    justify-content: center;
}
#index {
    font-size: 130%;
}
.aboutMeSect h2 {
    position: relative;
    transform: translate(10%, 20%);
}
.aboutMeSect img {
    width: 30%;
    height: 30%;
    padding-left: 10%;
    padding-right: 10%;
}
.aboutMeSect  div {
    width: 100%;
    display: flex;
    margin-top: 0%;
}
.projects div {
    margin: 5% 10% 5% 10%;
}
.projects h2 {
    margin-left: 10%;
}
.projectDetail {
    display: flex;
    justify-content: space-evenly;
}
body {
    background-color: #FFDC5C;
    color: #C93706;
    font-family: 'Bitter', serif;
    overflow-x: hidden;
}
h1 {
    text-align: center;
}
nav, header {
    background-color: #DB9B39;
}
nav {
    display: flex;
    justify-content: space-evenly;
    
}
a {
    text-decoration: none;
    color: #A10800;
    font-size: 120%;
}
nav > a {
    font-size: 150%;
}

div > img {
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    padding: 1em;
    height: 50%;
}
.outer:hover {
    transition: 1s;
    background-color: #FFE893;
}
div {
    margin: 10% 10% 10% 10%;
    border-radius: 1em;
}
h2 {
    padding-top: 5%;
}
li {
    padding-left: 10%;
    padding-bottom: 10%;
    list-style: none;
}